<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Notes</title>
</head>

<body>
<!--navigation bar-->
<header>
    <nav>
        {% if profile %}
            <ul>
                <li class="img"><img src="/static/images/note.png"/></li>
                <li><a href="/">Notes</a></li>
                <li class="right">
                    {% if request.path != '/add/' %}
                        <a href="/add">Add Note</a>
                    {% endif %}
                    <a href="/profile">Profile</a>
                </li>
            </ul>
        {% else %}
            <ul>
                <li class="img"><img src="/static/images/note.png" width="32" height="32"/></li>
                <li><a href="/">Notes</a></li>
            </ul>
        {% endif %}
    </nav>
</header>

{% block page_content %}
{% endblock %}

<footer>
    <div>Python Web Basics Exam @SoftUni</div>
</footer>
</body>
</html>